.card-service:hover .icon-service{
    transform: translateY(-10px);
    transition: all .5s;
}
.service-link{
    display: inline !important;
}
.service-link::after{
    content: '';
    display: block;
    position:absolute;
    height: 2px;
    background: #000;
    width: 0%;
    left: 0;

}
.service-link:hover::after{
    width: 100%;
    transition: all .5s;
}

/* CAROUSEL ABOUT */
.swiper-button-prev,.swiper-button-next{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #CFCFD0;
    transition: all .5s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background-color: #03041C;

}
.swiper-button-next::after,
.swiper-button-prev::after{
    color: #CFCFD0;
    font-size: 40px;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after{
    color: white ;

}
.swiper-pagination {
    display: none;
}
.swiper-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #F50963;
}
@media  screen and (max-width: 768px) {
    .swiper-button-prev,.swiper-button-next{
       
        display: none;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after{
    font-size: 20px;
}
.swiper-pagination {
    display: block;
}
}

/* AWARD */
.award-item::after{
    content: '';
    display: block;
    width: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    background-image: linear-gradient(329deg,#ff91fa 13.55%,#fa6490 48.54%,#f7d86a 86.44%);
    transform: matrix(-1,0,0,1,0,0);
    opacity: 0;
    transition: all linear .8s;
}
.award-item:hover::after{
    width: 100%;
    left: 0;
    opacity: 1;
}

.awards .award-item-title::after{
    content: '';
    display: block;
    position:absolute;
    height: 2px;
    background: #000;
    width: 0%;
    left: 0;
}
.awards .award-item-title:hover::after{
    width: 100%;
    transition: all .5s;
}
