.card-team .img-member{
    width: 100%;
}
.card-team:hover .img-member{
    transform: scale(1.1);
    transition: all .5s;
}
.share .list-share-social li{
    margin-right: 2px;
    
}
.share .list-share-social li a{
    transition: all .5s;
}
.share .list-share-social li:hover a{
    background-color: #F50963;
    color: white;
}
.share .list-share-social{
    transform: scaleX(0);
    opacity: 0;
    transform-origin: right center;
    transition: all .6s;
}

.share:hover .list-share-social{
    transform: scaleX(1);
    opacity: 1;
}
.share .list-share-social li a{
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}
