 /* swiper slide category section */

 .slide-topic .swiper .swiper-scrollbar{
    height: 2px;
   
 }
 .slide-topic  .swiper .swiper-scrollbar .swiper-scrollbar-drag{
    background-color: #F72C79 ;
 }
 .slide-topic  .swiper .swiper-wrapper{
    padding-bottom: 42px !important;
 }

 /* Tabs Home product popular */

 .home-productPopular .react-tabs__tab--selected{
   border: none;
   color: #F72C79;
   position: relative;
}

.home-productPopular  .tab-product::after{
   content: '';
   display: block;
   height: 2px;
   background-color:#F72C79;
   width: 0;
   position: absolute;
   top: 100%;
   
   left: 0;
}
.home-productPopular  .react-tabs__tab--selected.tab-product::after{
   width: 100%;
   transition: all .6s;
}