@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500&family=Space+Grotesk:wght@300;400;500;600&family=Syne:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html,body{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  
}

